<div class="group off">{{ form_row(form.event_name) }}</div>
<div class="group off">{{ form_row(form.event_description) }}</div>
<div class="groups justify_between" style="margin-bottom: 50px">
    <div class="file">
        {{ form_row(form.imageFile) }}
        <button class="file"><i class="material-icons">send</i></button>
        <span class="custom_text">Aucun fichier choisi.</span>
    </div>
    <div class="group off" style="margin-right: 50px">{{ form_row(form.event_location) }}</div>
    <div class="group off">{{ form_row(form.event_price) }}</div>
</div>
<div>{{ form_row(form.event_type) }}</div>
{{ form_rest(form) }}