{% extends 'base.html.twig' %}

{% block body %}
    <div class="search_type" style="margin-bottom: 32px">
        <h3>Personnaliser la recherche</h3>
        <div class="row justify_between align_center form_justify">
            {{ form_start(form) }}
                <div class="row" style="justify-content: flex-start; width: initial">
                    <div class="group off  searchElement">
                        {{ form_row(form.maxPrice) }}
                    </div>
                    <div class="group select checkbox searchElement" id="checkboxDebug">
                        {{ form_row(form.inStock) }}
                    </div>
                    <div class="group select  searchElement">
                        {{ form_rest(form) }}
                    </div>
                </div>
                <button type="submit" class="contained_no-width"><i class="material-icons">search</i></button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="product-container">
        {% for product in products %}
            {% include 'product/_product.html.twig' %}
        {% endfor %}
    </div>
    <div>
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/form.js') }}"></script>
{% endblock %}
