{% extends 'base.html.twig' %}

{% block body %}
        <div class="search_type" style="margin-bottom: 32px">
            <h3>Personnaliser la recherche</h3>
        <div class="row justify_between align_center">
            <div>
                {{ form_start(form) }}
                <div class="group off half">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="group off half">
                    {{ form_row(form.inStock) }}
                </div>
                <div class="group off half">
                    {{ form_row(form.type) }}
                </div>
                <div class="group half select">
                    {{ form_rest(form) }}
                </div>
                <button type="submit" class="contained"><i class="material-icons">search</i></button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="product-container">
            {% for product in products %}
                    {% include 'product/_product.html.twig' %}
            {% endfor %}
    </div>
    <div>
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
