{% extends 'base.html.twig' %}

{% block title 'Produit ' ~ product.productName ~ ' | BDE-CESI' %}

{% block body %}
    <h1>Produit - {{ product.productName }}</h1>
    <section>
        <article>
            <div class="product-image">
                <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="Produit">
            </div>
            <div class="product-description">
                <p>{{ product.productDescription }}</p>

            </div>
            <div class="product-information">
                <div>Prix : {{ product.productPrice }} €</div>
                <div>Quantité restante : {{ product.productInventory }}</div>
                <div>Type de produit : {{ product.productType.productTypeName }}</div>
            </div>
            <a href="{{ path('cart.add', {'id': product.Id}) }}" class="contained">Ajouter au panier</a>
        </article>
    </section>

{% endblock %}

