{% extends "base.html.twig" %}

{% block title 'Les images des événements - Admin | BDE-CESI' %}

{% block body %}

    <h1>Les images des événements</h1>
    <div class="row justify_between" style="margin-bottom: 50px">
        <p>Panneau d'administration des images liées aux événements.</p>
        <a href="{{ path('download.pictures') }}" class="contained_no-width"><i class="material-icons">get_app</i> TÉLÉCHARGER TOUTES LES IMAGES</a>
    </div>

    <div class="tabOverflowContainer">
        <table class="admin_list">
            <thead>
            <tr>
                <th>Photo</th>
                <th>Date de publication</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for picture in pictures %}
                <tr class="">
                    <td><img src="{{ picture.picturePath }}" alt=""></td>
                    <td>{{ picture.picturePostedAt | date('d F Y') }}</td>
                    <td>{{ picture.pictureUserId }}</td>
                    <td class="row">
                        <a href="{{ path('pictures.show', {id: picture.Id}) }}" class="contained">VOIR</a>
                        {% if picture.isVisible == 1 %}
                            <form method="post" action="{{ path('admin.pictures.delete', {id: picture.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
                                <button class="contained danger">SUPPRIMER</button>
                            </form>
                        {% else %}
                            <button disabled class="disabled">SUPPRIMÉ</button>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}