<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ include('components/stylesheet.html.twig') }}
</head>
<body>
{{ include('components/header.html.twig') }}
<main>
    {% block body %}
    {% endblock %}
</main>
{{ include('components/footer.html.twig') }}
<script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/jquery.dropdown.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
