{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet Weeb</h1>
    <section>

        <h2>Nos Happy Meal :</h2>
        <div class="product-container">
        {% for commandProduct in commandProducts %}
            {% for prod in products %}
                {% if prod.id == commandProduct.product.id %}
                    <div class="product">
                        <div class="product-name">
                            {{ prod.productName }}
                        </div>
                        <div class="product-type">
                            ({{ prod.productType.productTypeName }})
                        </div>

                        <img src = "{{ prod.productImagePath }}">

                        <div class="product-price">
                            {{ prod.productPrice }} €
                        </div>
                        <br><br>
                        <a href="{{ path('merch.show', {id: prod.Id}) }}"><button> Check This</button></a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </section>
    <section>
        <h2>Les événements :</h2>
        <div class="carousel_container" id="carousel1">
            {% for event in next_events %}
                <div class="item">
                    <div class="item_header">
                        {{ event.eventName }}
                    </div>
                    <div class="item_body column">
                        <img src="{{ event.eventImagePath }}" alt="">
                    </div>
                    <div class="item_footer">
                        <p>{{ event.eventDescription }}</p>
                        <div class="row">
                            <a href="{{ path('events.show', {id: event.Id}) }}#photos" class="blue">LES PHOTOS</a>
                            <span class="separate_buttons"></span>
                            <a href="{{ path('events.show', {id: event.Id}) }}" class="contained">VOIR</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/carousel.js') }}"></script>
{% endblock %}