{% extends 'base.html.twig' %}

{% block title 'Liste des commandes - Admin | BDE-CESI' %}

{% block body %}
     <a href="{{ path('admin.index') }}">Go Back</a>
    <div class="tabOverflowContainer">
    <table class="admin_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>UserID</th>
            <th>In Details</th>
        </tr>
        </thead>
        <tbody class="command">
        {% for command in commands %}
            <tr class="admin_command admin-style">
                <td>{{ command.Id }}</td>
                <td>{{ command.commandOrderedAt | date('d:m:Y - H:i | e') }}</td>
                <td>{{ command.commandUserId }}</td>
                <td><a class="button-container" href="{{ path('admin.merch.command.show', {id: command.Id}) }}">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
