{% extends 'base.html.twig' %}

{% block title %}
    Commande {{ command.commandUserId }} - Admin | BDE-CESI
{% endblock %}

{% block body %}
    <h1>Commande {{ command.commandUserId }}</h1>

    <a href="{{ path('admin.merch.command.index') }}">Go Back</a>
    <div>
        Command N° : {{ command.id }}
        <div>
            UserId : {{ command.commandUserId }}
        </div>


        <table class="admin_list">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price per Unit</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody class="command_show">
                {% for commandProduct in commandProducts %}
                    {% for product in products %}
                        {% if product == commandProduct.product %}
                        <tr class="admin_command_show admin-command">
                            <td>{{ product.productName }}</td>
                            <td>{{ product.productPrice }}</td>
                            <td>{{ commandProduct.quantity }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
