{% block header %}
    <header>
        <a class="burgerButton" onclick="jqueryBurger()">
            <div class="burgerLine"></div>
            <div class="burgerLine"></div>
            <div class="burgerLine"></div>
        </a>
        <span class="spacer"></span>
        <img src="{{ asset('assets/images/logo.png') }} " alt="logo">
        <div class="burger">
            <div>
                <nav>
                    <ul>
                        <li><a href="{{ path('events.index') }}" class="nav-link">
                                <div class="button "> Evénements</div>
                            </a></li>
                        <li><a href="{{ path('merch.index') }}" class="nav-link">Produits</a></li>
                        <li><a href="{{ path('events.calendar') }}" class="nav-link">
                                <div class="button "> Calendrier</div>
                            </a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin.index') }}" class="nav-link">
                                    <div class="button "> Administration</div>
                                </a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="rightAlign">
                {% if app.user %}

                    <a href="{{ path('logout') }}" class="header contained colorSecondary">
                        <div class="button "> DECONNECTER</div>
                    </a>

                {% else %}

                    <a href="" class="header colorSecondaryLight">
                        <div class="button">S'INSCRIRE</div>
                    </a>


                    <a href="{{ path('security.login') }}" class="header contained colorSecondary">
                        <div class="button">SE CONNECTER</div>
                    </a>

                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}