{% extends 'base.html.twig' %}

{% block title 'Nouvelle illustration d\'événement | BDE-CESI' %}

{% block body %}
<h1>Ajouter une illustration à l'événement</h1>
<div class="form">
    {{ form_start(form) }}
        <div class="group off">{{ form_row(form.picture_name) }}</div>
        <div class="group off">{{ form_row(form.picture_description) }}</div>
        <div class="group off">{{ form_row(form.imageFile) }}</div>
        {{ form_rest(form) }}
        <button type="submit" class="contained">AJOUTER</button>
    {{ form_end(form) }}
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/form.js') }}"></script>
{% endblock %}