{% extends 'base.html.twig' %}

{% block body %}

    <h1>Votre panier</h1>
{% if items | length > 0 %}
<div class="tabOverflowContainer">
    <table>
        <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><a href="{{ path('merch.show', {'id': item.product.id} ) }}">{{ item.product.productName }}</a></td>
                <td>{{ item.product.productPrice |number_format(2, '.', ',') }} €</td>
                <td>{{ item.quantity }}</td>
                <td>{{ (item.product.productPrice * item.quantity) |number_format(2, '.', ',') }} €</td>
                <td>
                    <a href="{{ path('cart.delete', {'id': item.product.id}) }}" class="contained"
                       id="delete">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<p>Total : {{ total }} €<p>
    <a href="{{ path('cart.order') }}" class="contained">Commander</a>
    {% else %}

    {% endif %}

{% endblock %}

