{% extends 'base.html.twig' %}

{% block title 'Les catégories d\'événement - Admin | BDE-CESI' %}

{% block body %}

    <h1>Liste des catégories d'événement :</h1>

    <div class="column">
        <div class="row justify_between">
            <p>Liste des catégories d'événement</p>
            <a href="{{ path('admin.categories.new') }}" class="contained_no-width"><i class="material-icons">add</i> AJOUTER UNE CATÉGORIE</a>
        </div>
        <table class="admin_list">
            <thead>
            <tr>
                <th>Titre de la catégorie</th>
                <th>Nombre d'événement</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="event">
            {% for category in categories %}
                <tr class="admin_event">
                    <td><a href="{{ path('events.index') }}?category={{ category.id }}">{{ category.eventTypeName }}</a></td>
                    <td>{{ category.events | length }}</td>
                    <td class="row">
                        <a href="{{ path('admin.categories.edit', {id: category.id}) }}" class="contained">EDITER</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/ajaxSearch.js') }}"></script>
{% endblock %}