{% extends 'base.html.twig' %}

{% block title 'Les événement | BDE.CESI' %}

{% block body %}

    <h1>Les événements</h1>
    <section>
        <div class="search_type" style="margin-bottom: 32px">
            <h3>Personnaliser la recherche</h3>
            <div class="row justify_between align_center">
                <div>
                    {{ form_start(form) }}
                        <div class="group off half">
                            {{ form_rest(form) }}
                        </div>
                    <button type="submit" class="contained"><i class="material-icons">search</i></button>
                    {{ form_end(form) }}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin.events.new') }}" class="contained"><i class="material-icons">add</i> NOUVEL ÉVÉNEMENT</a>
                {% endif %}
            </div>
        </div>
        <div class="content grid-4">
            {% for event in events %}
                <div class="card">
                    <div class="card_header">{{ event.eventName }}</div>
                    <div class="card_body">
                        <img src="{{ event.eventImagePath }}" alt="">
                    </div>
                    <div class="card_footer column">
                        <p class="event_date">Date de l'événement : {{ event.eventDate | date('d-m-Y') }} à {{ event.eventDate | date('H:i') }}</p>
                        <p class="event_description">{{ event.eventDescription | nl2br }}</p>
                        <div class="row">
                            <p>Prix : {{ event.eventPrice }}€</p>
                            {% if app.user %}
                                <a href="" class="blue">S'INSCRIRE</a>
                                <span class="separate_buttons"></span>
                            {% endif %}
                            <a href="{{ path('events.show', {id: event.Id}) }}" class="contained">VOIR</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(events) }}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/form.js') }}"></script>
{% endblock %}