{% extends 'base.html.twig' %}

{% block title 'Les événements | BDE.CESI' %}

{% block body %}

    <div class="row justify_between">
        <h1>Les événements</h1>
        <div class="row">
            {% if app.user %}
                <a href="{{ path('profile.events') }}" class="contained_no-width">MES INSCRIPTIONS</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <span class="separate_buttons"></span>
                <span class="separate_buttons"></span>
                <a href="{{ path('admin.events.new') }}" class="contained_no-width"><i class="material-icons">add</i> NOUVEL ÉVÉNEMENT</a>
            {% endif %}
        </div>
    </div>
    <section>
        <div class="search_type" style="margin-bottom: 32px">
            <h3>Personnaliser la recherche</h3>
            <div class="row justify_between align_center">
                <div class="grower" style="width: initial">
                    {{ form_start(form) }}
                    <div class="group off half">
                        {{ form_row(form.maxPrice) }}
                    </div>
                    <div class="group half select">
                        {{ form_rest(form) }}
                    </div>
                </div>
                <div>
                    <button type="submit" class="contained_no-width"><i class="material-icons">search</i></button>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
        <div class="product-container">
            {% for event in events %}
                <div class="product">
                    <div class="product-name">{{ event.eventName }}</div>
                    <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="">
                    <p class="event_date">Date : {{ event.eventDate | date('d-m-Y') }}
                        à {{ event.eventDate | date('H:i') }}</p>
                    <div class="product-price">
                        {{ event.eventPrice }}€
                    </div>
                    <br>
                    <br>
                    {% set participated = false %}
                    {% if app.user and event.eventDate > today %}
                        {% for participation in participations %}
                            {% if participation.event.id == event.id %}
                                {% set participated = true %}
                            {% endif %}
                        {% endfor %}
                        {% if participated == true %}
                            <a href="" class="blue disabled" disabled>INSCRIT</a>
                        {% else %}
                            <a href="{{ path('events.participate', {id: event.id}) }}" class="contained">S'INSCRIRE</a>
                        {% endif %}
                    {% endif %}
                    <a href="{{ path('events.show', {id: event.Id}) }}" class="link">Voir</a>

                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(events) }}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/form.js') }}"></script>
{% endblock %}