{% extends 'base.html.twig' %}

{% block body %}

    <h1>Les événements</h1>
    <section>
        <div class="options">
            <div class="row justify_between">
                <a href="{{ path('admin.events.new') }}" class="contained"><i class="material-icons">add</i> NOUVEL ÉVÉNEMENT</a>
            </div>
        </div>
        <div class="content grid-4">
            {% for event in events %}
                <div class="card">
                    <div class="card_header">{{ event.eventName }}</div>
                    <div class="card_body">
                        <img src="{{ event.eventImagePath }}" alt="">
                    </div>
                    <div class="card_footer column">
                        <p class="event_date">Date de l'événement : {{ event.eventDate | date('d-m-Y') }} à {{ event.eventDate | date('H:i') }}</p>
                        <p class="event_description">{{ event.eventDescription | nl2br }}</p>
                        <div class="row">
                            {% if app.user %}
                                <a href="" class="blue">S'INSCRIRE</a>
                                <span class="separate_buttons"></span>
                            {% endif %}
                            <a href="{{ path('events.show', {id: event.Id}) }}" class="contained">VOIR</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(events) }}
        </div>
    </section>

{% endblock %}