{% extends 'base.html.twig' %}

{% block title 'Evénement | ' ~ event.eventName %}

{% block body %}
    <h1>Evénement - {{ event.eventName }}</h1>

    <section class="row">
        <aside class="flex-1 column">
            <div class="card">
                <p>Type de l'événement :</p>
                <p><a href="{{ path('events.index') }}?category={{ type.id }}">{{ type.eventTypeName }}</a></p>
                <div class="row">
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>
        </aside>
        <article class="flex-3 column">
            <div class="card_header">
                {{ event.eventName }}
            </div>
            <div class="card_body row">
                <div>
                    {% if event.eventImagePath %}
                        <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="">
                    {% endif %}
                </div>
                <div>
                    <p>{{ event.eventDescription }}</p>
                </div>
            </div>
            <div class="card_footer">

            </div>
        </article>
    </section>
    <section>
        <h2>Images : </h2>
        <div class="grid-4">
            {% for picture in pictures %}
                <div class="card">
                    <div class="card_body">
                        <img src="{{ picture.picturePath }}" alt="">
                    </div>
                    <div class="card_footer">
                        <a href="" class="option"><i class="material-icons">thumb_up</i></a>
                        <a href="" class="option"><i class="material-icons">thumb_down</i></a>
                        <a href="{{ path('pictures.show', {'id': picture.id}) }}" class="contained">COMMENTER</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}