{% extends 'base.html.twig' %}

{% block title 'Evénement | ' ~ event.eventName %}

{% block body %}
    <h1>Evénement - {{ event.eventName }}</h1>

    <section>
        <article class="flex-3 column">
            <div class="card_body row">
                <div>
                    {% if event.eventImagePath %}
                        <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="">
                    {% endif %}
                </div>
                <div>
                    <p>{{ event.eventDescription }}</p>
                </div>
            </div>
            <p>Prix : {{ event.eventPrice }} €</p>
            <p>Type de l'événement : <a
                        href="{{ path('events.index') }}?category={{ event.eventType.id }}">{{ event.eventType.eventTypeName }}</a>
            </p>
            <div class="row likes">
                {% if action == 'like' %}
                    <a href="{{ path('events.like', {id: event.id}) }}" class="option active"><i class="material-icons">thumb_up</i><span>{{ count_like }}</span></a>
                    <a href="{{ path('events.dislike', {id: event.id}) }}" class="option"><i class="material-icons">thumb_down</i><span>{{ count_dislike }}</span></a>
                {% elseif action == 'dislike' %}
                    <a href="{{ path('events.like', {id: event.id}) }}" class="option"><i class="material-icons">thumb_up</i><span>{{ count_like }}</span></a>
                    <a href="{{ path('events.dislike', {id: event.id}) }}" class="option active"><i
                                class="material-icons">thumb_down</i><span>{{ count_dislike }}</span></a>
                {% else %}
                    <a href="{{ path('events.like', {id: event.id}) }}" class="option"><i class="material-icons">thumb_up</i><span>{{ count_like }}</span></a>
                    <a href="{{ path('events.dislike', {id: event.id}) }}" class="option"><i class="material-icons">thumb_down</i><span>{{ count_dislike }}</span></a>
                {% endif %}
            </div>
            <div class="participation">
                {% if has_participated == true %}
                    <a href="#" class="disabled">INSCRIT</a>
                {% else %}
                    <a href="{{ path('events.participate', {id: event.id}) }}" class="contained">S'INSCRIRE</a>
                {% endif %}
            </div>
        </article>
    </section>
    <section>
        <h2>Images : </h2>
        <div class="grid-4">
            {% for picture in event.pictures %}
                <div class="card">
                    <div class="card_body">
                        <img src="{{ picture.picturePath }}" alt="">
                    </div>
                    <div class="card_footer">
                        <a href="{{ path('pictures.show', {'id': picture.id}) }}" class="contained">COMMENTER</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/ajaxLikes.js') }}"></script>
{% endblock %}