{% extends 'base.html.twig' %}

{% block title 'Page d\'administration | BDE-CESI' %}

{% block body %}

    <h1 style="margin-bottom: 50px">Page d'administration</h1>
    <section class="admin">
        <h2>Evénement et social</h2>
        <table class="admin_list">
            <thead>
            <tr>
                <th>Titre de la catégorie</th>
                <th>Nombre d'éléments</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="event">
                <tr class="admin_event">
                    <td><b>Les catégories d'événements</b></td>
                    <td>{{ event_categories | length }}</td>
                    <td class="row"><a href="{{ path('admin.categories.index') }}" class="contained">VOIR TOUT</a></td>
                </tr>
                <tr class="admin_event">
                    <td><b>Les événements</b></td>
                    <td>{{ events | length }}</td>
                    <td class="row"><a href="{{ path('admin.events.index') }}" class="contained">VOIR TOUT</a></td>
                </tr>
                <tr class="admin_event">
                    <td><b>Les images</b></td>
                    <td>{{ pictures | length }}</td>
                    <td class="row"><a href="{{ path('admin.pictures.index') }}" class="contained">VOIR TOUT</a></td>
                </tr>
                <tr class="admin_event">
                    <td><b>Les commentaires</b></td>
                    <td>{{ comments | length }}</td>
                    <td class="row"><a href="{{ path('admin.pictures.index') }}" class="contained">VOIR TOUT</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="admin">
        <h2>Produits et magasins</h2>
        <table class="admin_list">
            <thead>
                <tr>
                    <th>Titre de la catégorie</th>
                    <th>Nombre d'éléments</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="event">
                <tr class="admin_event">
                    <td><b>Les catégories de produits</b></td>
                    <td>{{ product_categories | length }}</td>
                    <td class="row"><a href="{{ path('admin.merch.type.index') }}" class="contained">VOIR TOUT</a></td>
                </tr>
                <tr class="admin_event">
                    <td><b>Les produits</b></td>
                    <td>{{ products | length }}</td>
                    <td class="row"><a href="{{ path('admin.merch.product.index') }}" class="contained">VOIR TOUT</a></td>
                </tr>
                <tr class="admin_event">
                    <td><b>Les commandes</b></td>
                    <td>{{ commands | length }}</td>
                    <td class="row"><a href="{{ path('admin.merch.command.index') }}" class="contained">VOIR TOUT</a></td>
                </tr>
            </tbody>
        </table>
    </section>

{% endblock %}

{% block javascripts %}

{% endblock %}

