{% extends 'base.html.twig' %}

{% block title 'Page d\'administration | BDE-CESI' %}

{% block body %}

    <h1>Page d'administration</h1>
    <section>
        <div class="row">
            <div class="column flex-1">
                <div>
                    <div>
                        <div class="row">
                            <h2>Les événements</h2>
                        </div>
                        <a href="{{ path('admin.events.index') }}" class="contained">VOIR TOUT</a>
                    </div>
                    <div>
                        <div class="row">
                            <h2>Les images</h2>
                        </div>
                        <a href="{{ path('admin.pictures.index') }}" class="contained">VOIR TOUT</a>
                    </div>
                    <div>
                        <div class="row">
                            <h2>Les Commentaires</h2>
                        </div>
                        <a href="{{ path('admin.comments.index') }}" class="contained">VOIR TOUT</a>
                    </div>
                </div>

                <div class="row">
                    <h2>Les produits</h2>
                </div>
                <div>
                    <div>
                        <a href="{{ path('admin.merch.product.index') }}">Liste des produits</a>
                    </div>
                    <div>
                        <a href="{{ path('admin.merch.type.index') }}">Les catégories de produits</a>
                    </div>
                    <div>
                        <a href="{{ path('admin.merch.command.index') }}">Liste des commandes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

{% endblock %}

